* {
    box-sizing: border-box;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    bottom: 20%  ;
    position: absolute;
    right: 750px;
    
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.imgt {
    height: 70px;
    width: 70px;
    margin-left: 50px;

}

header {
    height: 8vh;
    display: flex;
    background-color: #137065;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}
.ree {
    color: rgb(247, 255, 1);
}
.dondias {
    color: black;
    bottom: 20%  ;
    display: flex;
    right: 200px;
    
}