body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.imgt {
    height: 70px;
    width: 70px;
    margin-left: 50px;

}

header {
    height: 8vh;
    display: flex;
    background-color: #137065;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}
.txt {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.vie {
    color: rgb(250, 93, 21);
}
